/*  =============================================================================
    
    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */

#about-us-section {
  width: 100%;
  height: auto;

  background-color: #FAFAFF;
  color: black;
  /*box-shadow: 0px -1px 10px #DDDDDD;*/
  padding-top: 60px;
  padding-bottom: 80px;
}

#about-us-title {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 30px;

  /*Font*/
  text-align: center;
  font-size: 40px;
  font-weight: 500;

  position: relative;
}

/* The text describing Vent Origins */
.about-us-overall-description {
  color: #888888;
  font-size: 24px;
  font-weight: 100;

  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 50px;
}

.about-us-overall-description h1 {
  color: black;
  font-size: 24px;
  font-weight: 900;

  display: inline;
}

/* Section which captures the team members */
.about-us-pictures-div {
  position: relative;
  margin-top: 20px;

  /*Font*/
  font-size: 16px;
  text-align: center;

  display: flex;
  align-items: center; 
  justify-content: center;
}

.about-us-pictures {
  height: auto;
  width: auto;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}

.about-us-img-div {
  width: 300px;
  height: 300px;
  
  /* For the background*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 50%;
  border: 1px solid #CCCCCC;
}

/* These divs are used instead of the img because easier to manipulate a div with background instead of img */
#adrian-mandee-div {
  background-image: url("../img/mandee-1.jpg");
  background-size: 150% 200%;
  background-position: center 15%;
}

#randy-truong-div {
  background-image: url("../img/truong-1.jpg");
}

#gerard-liu-div {
  background-image: url("../img/liu.jpg");
  background-position: center right;
}

#kevin-chiao-div {
  background-image: url("../img/chiao.jpg");
}

#kristopher-luong-div {
  background-image: url("../img/luong.jpg");
}

/* NOT CURRENTLY USED */
/*.about-us-pictures img {
  width: inherit;
  height: inherit;
  box-shadow: 0px 0px 1px #777777;
  border-radius: 50%;
  background-size: cover;
}*/

.about-us-pictures-overlay {
  width: inherit;
  height: inherit;
  background-color: black;
  position: absolute;
  top: 0px;
  border-radius: 50%;
  opacity: 0.0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -0-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.about-us-text-and-icons {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0px;
  opacity: 0.0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -0-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.about-us-img-div:hover .about-us-text-and-icons {
  opacity: 1.0
}

.about-us-img-div:hover .about-us-pictures-overlay {
  opacity: 0.70;
}

.about-personal-links {
  width: inherit;
  height: auto;
  display: block;
  position: absolute;
  top: 35%;

  text-align: center;
}

.link-icon {
  margin: 5px;
  display: inline-block;
  text-align: center;
}

.link-icon a {
  font-size: inherit;
  color: #CCCCCC;
  text-decoration: none;

  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -0-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}

.link-icon .fa {
  font-size: 30px;
}

.link-icon:hover, .link-icon:hover a {
  color: #FFFFFF;
}

.about-us-names {
  width: inherit;
  height: auto;

  /*Font*/
  color: white;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 0px 0px 1px #000000;

  position: absolute;
  bottom: 35%;
}

@media screen and (max-width: 1200px) {
  .about-us-pictures {
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-us-img-div {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 996px) {
  .about-us-overall-description {
    font-size: 18px;

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .about-us-overall-description h1 {
    color: black;
    font-size: 18px;
    font-weight: 900;
  }

  .about-us-pictures {
    margin-top: 10px;
    margin-bottom: 10px;    
  }

  .about-us-pictures-div {
    margin-top: 0px;
    flex-direction: column;
  }

  .about-us-img-div {
    width: 400px;
    height: 400px;

    margin-left: 10px;
    margin-right: 10px;
  }

  .about-us-pictures-overlay {
    position: relative;
    top: 0px;
  }

  .about-us-text-and-icons {
    position: relative;
    top: -400px;
  }

  .about-us-names {
    font-size: 45px;
  }

  #about-us-section {
    margin-bottom: 0px;
  }

  .link-icon .fa {
    font-size: 50px;
  }
}

@media screen and (max-width: 320px) {
  .about-us-overall-description {
    font-size: 17px;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  .about-us-img-div {
    width: 300px;
    height: 300px;
  }
}