/*  =============================================================================
    
    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */

#splash-screen-section {
  width: 100%;
  height: 100%;

  display: inline-block;
  background-color: #F3F3F3;
  /*box-shadow: 0px 1px 20px #888888;*/
}

#splash-screen-section .splash-img {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0px;
  left: 0px;
/*  background-image: url("../img/VentOriginsPicture.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 10%;
  opacity: 0.30;*/
}

/*VENT*/
#vent-title {
  padding-left: 15px;
  padding-right: 15px;

  /*Font*/
  color: black;
  font-size: 100px;
  font-weight: 700;

  /*Position of word*/
  position: absolute;
  top: 45%;
  left: 30%;

  /*Color of the Vent title background*/
  /*background-color: #FFFFFF;*/

  box-shadow: 10px 10px 1px black, -5px -5px 1px black;
  z-index: 2;
}

/*ORIGINS*/
#origins-title {
  margin: 0px;

  /*Font*/
  color: white;
  font-size: 100px;
  font-weight: 700;

  /*Position of word*/
  position: relative;
  
  /*How it is when it starts*/
  top: 0px;
  left: 0px;

  background-color: black;
  z-index: 2;

  text-shadow: 0px 0px 1px black;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -0-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/*For the animations*/
#origins-title-text {
  opacity: 0.0;
}

@media screen and (max-width: 800px) {
  #vent-title {
    font-size: 50px;
    top: 50%;
  }

  #origins-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  #vent-title {
    font-size: 35px;
    top: 50%;
  }

  #origins-title {
    font-size: 35px;
  }
}




