/*  =============================================================================
    
    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

/*Default for everything*/
body {
  background-color: white;

  /*font*/
  color: black;
  font-family: 'Open Sans', sans-serif;

  /*Spacing*/
  margin: 0px;
  padding: 0px;

  overflow-x: hidden;
}

#entire-webpage {
  overflow-x: hidden;
}

.below-nav-bar {
  position: relative;
  top: 80px;
}

.scroll-to-section-css {
  position: relative;
  top: -80px;
}

/* Needed for the width to also including border and padding sizes */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
